---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w4
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '14'
      - '2'
      X-Edgeconnect-Origin-Mex-Latency:
      - '331'
      - '522'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_eKvBnGWzidC4e2x"}}'
  recorded_at: Thu, 07 Apr 2016 18:33:55 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Email=example%40example.com&ExternalDataRef=aok&FirstName=John&Format=JSON&Language=EN&LastName=Smith&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKvBnGWzidC4e2x&Request=addRecipient&Token=<QUALTRICS_TOKEN>&Unsubscribed=0&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w16
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '194'
      - '394'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"RecipientID":"MLRP_abNoiw3qoFE9VyZ"}}'
  recorded_at: Thu, 07 Apr 2016 18:33:55 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Content-Type=text-csv&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKvBnGWzidC4e2x&RecipientID=7&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language","RecipientID"
        "John","Smith","example@example.com","aok","0","EN","MLRP_abNoiw3qoFE9VyZ"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Status:
      - '500'
      Requeststatus:
      - Failure
      Servershortname:
      - w4
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '13'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '319'
      - '529'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importPanel","ErrorCode":500,"QualtricsErrorCode":"ESRV16","ErrorMessage":"Error
        Calling DME Element","Debug":""},"Result":null}'
  recorded_at: Thu, 07 Apr 2016 18:33:59 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKvBnGWzidC4e2x&RecipientID=7&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language","RecipientID"
        "John","Smith","example@example.com","aok","0","EN","MLRP_abNoiw3qoFE9VyZ"
    headers:
      Content-Type:
      - text/csv
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Status:
      - '500'
      Requeststatus:
      - Failure
      Servershortname:
      - w15
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '42'
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '210'
      - '550'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importPanel","ErrorCode":500,"QualtricsErrorCode":"ESRV16","ErrorMessage":"Error
        Calling DME Element","Debug":""},"Result":null}'
  recorded_at: Thu, 07 Apr 2016 18:35:48 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w9
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '307'
      - '523'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_50e7utl82b2OASx","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_9GNxpqD4uFrObEp":"example@example.com"}}}'
  recorded_at: Thu, 07 Apr 2016 19:20:09 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3&content_type=multipart/formdata
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '4'
      X-Edgeconnect-Origin-Mex-Latency:
      - '307'
      - '475'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_8wyhrA8PmgaRAwJ","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_6yd7EUfEzreNvy5":"example@example.com"}}}'
  recorded_at: Mon, 11 Apr 2016 17:21:42 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID=ML_eKvBnGWzidC4e2x&RecipientID=7&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3&content_type=multipart/formdata
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language","RecipientID"
        "John","Smith","example@example.com","aok","0","EN","MLRP_abNoiw3qoFE9VyZ"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w7
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '3'
      - '5'
      X-Edgeconnect-Origin-Mex-Latency:
      - '354'
      - '553'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_eKvBnGWzidC4e2x","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_abNoiw3qoFE9VyZ":"example@example.com"}}}'
  recorded_at: Mon, 11 Apr 2016 17:21:42 GMT
recorded_with: VCR 3.0.1
