---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&PanelID&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language","RecipientID"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w4
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '24'
      - '7'
      X-Edgeconnect-Origin-Mex-Latency:
      - '248'
      - '429'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importPanel","ErrorCode":400,"QualtricsErrorCode":"ESRV35|PanelID","ErrorMessage":"Invalid
        request. Missing or invalid parameter PanelID.","Debug":""},"Result":null}'
  recorded_at: Thu, 24 Mar 2016 20:58:03 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language"
        "John","Smith","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w7
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '30'
      - '5'
      X-Edgeconnect-Origin-Mex-Latency:
      - '292'
      - '478'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_cOo4cvHXcMh2Nh3","Count":1,"IgnoredCount":0,"Recipients":{"MLRP_9FGmW7CFymdMIFT":"example@example.com"}}}'
  recorded_at: Thu, 24 Mar 2016 20:59:56 GMT
recorded_with: VCR 3.0.1
