---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007fa8d0102c20%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token&User&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - '400'
      Requeststatus:
      - Failure
      Servershortname:
      - w7
      Content-Type:
      - application/json
      X-Edgeconnect-Midmile-Rtt:
      - '24'
      X-Edgeconnect-Origin-Mex-Latency:
      - '79'
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Error","RequestType":"importSurvey","ErrorCode":400,"QualtricsErrorCode":"ESRV35|User","ErrorMessage":"Invalid
        request. Missing or invalid parameter User.","Debug":""},"Result":null}'
  recorded_at: Thu, 24 Mar 2016 19:37:31 GMT
recorded_with: VCR 3.0.1
