---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Data=%23%3CUploadIO%3A0x007fea07d4caf8%3E&Format=JSON&Name=Complex+survey&Request=importSurvey&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w2
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '26'
      X-Edgeconnect-Origin-Mex-Latency:
      - '1032'
      - '844'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"SurveyID":"SV_blyAKnYBC3hwz4N"}}'
  recorded_at: Thu, 24 Mar 2016 21:02:31 GMT
- request:
    method: get
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?Format=JSON&Request=getSurveyName&SurveyID=SV_blyAKnYBC3hwz4N&Token=<QUALTRICS_TOKEN>&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w17
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '24'
      - '4'
      X-Edgeconnect-Origin-Mex-Latency:
      - '308'
      - '494'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"responses":null,"SurveyID":"SV_blyAKnYBC3hwz4N","SurveyName":"Complex
        survey","SurveyDescription":null,"SurveyOwnerID":"<QUALTRICS_LIBRARY_ID>","SurveyBrandID":"brookeside","DivisionID":null,"SurveyLanguage":"EN","SurveyActiveResponseSet":"RS_8uz9tEUi3xW3MqN","SurveyStatus":"Inactive","SurveyStartDate":"0000-00-00
        00:00:00","SurveyExpirationDate":"0000-00-00 00:00:00","SurveyCreationDate":"2016-03-24
        15:02:31","CreatorID":"<QUALTRICS_LIBRARY_ID>","LastModified":"2016-03-24
        15:02:31","LastActivated":"0000-00-00 00:00:00","Deleted":null,"UserFirstName":"Engineer","UserLastName":"Development"}}'
  recorded_at: Thu, 24 Mar 2016 21:02:35 GMT
recorded_with: VCR 3.0.1
