---
http_interactions:
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php
    body:
      encoding: UTF-8
      string: Category=Great+Category&Format=JSON&LibraryID=<QUALTRICS_LIBRARY_ID>&Name=Newest+Panel&Request=createPanel&Token=<QUALTRICS_TOKEN>&User=brookesidedev%40brookeside.com&Version=2.3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w14
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '26'
      - '3'
      X-Edgeconnect-Origin-Mex-Latency:
      - '208'
      - '447'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_0HC96DWdAH6gqgt"}}'
  recorded_at: Thu, 24 Mar 2016 21:00:01 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language"
        "New","Person","example@example.com","","","",""
        "Another","NewPerson","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w16
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '2'
      - '25'
      X-Edgeconnect-Origin-Mex-Latency:
      - '349'
      - '537'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_23toP9FAneTN8Tb","Count":2,"IgnoredCount":0,"Recipients":{"MLRP_eEvBDDcID90YRAp":"example@example.com","MLRP_d9UZQyHWSYc92Vn":"example@example.com"}}}'
  recorded_at: Thu, 24 Mar 2016 21:00:02 GMT
- request:
    method: post
    uri: https://survey.qualtrics.com/WRAPI/ControlPanel/api.php?ColumnHeaders=1&Email=3&ExternalRef=4&FirstName=1&Format=JSON&Language=6&LastName=2&LibraryID=<QUALTRICS_LIBRARY_ID>&Request=importPanel&Token=<QUALTRICS_TOKEN>&Unsubscribed=5&User=<QUALTRICS_USER>&Version=2.3&content_type=multipart/formdata
    body:
      encoding: UTF-8
      string: |
        "FirstName","LastName","Email","ExternalRef","Unsubscribed","Language"
        "New","Person","example@example.com","","","",""
        "Another","NewPerson","example@example.com","","","",""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Servershortname:
      - w15
      X-Cnection:
      - close
      X-Edgeconnect-Midmile-Rtt:
      - '6'
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '333'
      - '546'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Meta":{"Status":"Success","Debug":""},"Result":{"PanelID":"ML_eJXhp4SGa2VEmiN","Count":2,"IgnoredCount":0,"Recipients":{"MLRP_bDDN0viwl0fR97n":"example@example.com","MLRP_b3gdtglVq8Ht1rv":"example@example.com"}}}'
  recorded_at: Mon, 11 Apr 2016 17:21:43 GMT
recorded_with: VCR 3.0.1
